 <nav>
      <h1>
        <a href="/">The Minimalistic Tech Blog</a>
      </h1>

      <div class="row">
        <div class="four columns">
          <a href="/" class="u-full-width button button-primary">
          Home
          </a>
        </div>
        <div class="four columns">
          <a href="/dashboard" class="u-full-width button button-primary">
          Dashboard
          </a>
        </div>
{{#if loggedIn}}
        {{!-- logout button couldbe placed here --}}
        <div class="four columns">
            <button id="logout-btn">
              <a href="/login">Logout</a>
            </button>
        </div>

        <div class="five columns">
            <h5>Welcome Back <strong class="bigger ml-3 mr-3 tag is-light is-large">{{userName}}</strong> <i class="fa-solid fa-user-large"></i> </h5>
        </div>

      </div>
</nav>

<script src="/js/logout.js"></script>
{{else }}
          <div  class="four columns">
            <a href="/login" class="u-full-width button button-primary">
            Login
            </a>
          </div>
      </div>
</nav>
{{/if}}
