 <nav>
      <h1>
        <a href="/">The Minimalistic Tech Blog</a>
      </h1>

      <div class="row">
        <div class="four columns">
          <a href="/" class="u-full-width button button-primary">
          Home
          </a>
        </div>
        <div class="four columns">
          <a href="/" class="u-full-width button button-primary">
          Dashboard
          </a>
        </div>
{{#if loggedin}}
        {{!-- logout button couldbe placed here --}}
{{else }}
          <div  class="four columns">
            <a href="/login" class="u-full-width button button-primary">
            Login
            </a>
          </div>
{{/if}}
      </div>

{{!-- {{#if loggedin}} --}}
    <div class="row">
        <div class="eight columns">
            <h5>Welcome Back<strong>{{username}}</strong></h5>
        </div>
        <div class="four columns">
            <button id="logout-btn">
              <a href="/login">Logout</a>
            </button>
        </div>
    </div>
{{!-- {{/if}} --}}
</nav>

<script src="/js/logout.js"></script>