
<form class="outlined">
    <div class="row">

      <div class="six columns">
        <label for="login-email">Email</label>
        <input id="login-email" class="u-full-width" type="email" placeholder="your@email.com">
      </div>
      <div class="six columns">
        <label for="login-password">Password</label>
        <input id="login-password" class="u-full-width" type="password">
      </div>

    </div>

    <button id="login-input" class="button-primary" type="submit" value="LOGIN">LOGIN</button>
</form>

<form class="outlined">
  <div class="row">

    <div class="six columns">
      <label for="signup-user">Username</label>
      <input id="signup-user" class="u-full-width" type="text">
    </div>

    <div class="six columns">
      <label for="signup-email">Email</label>
      <input id="signup-email" class="u-full-width" type="password" placeholder="your@email.com">
    </div>

    <div class="twelve columns">
      <label for="signup-password">Password</label>
      <input id="signup-password" type="email">
    </div>

  </div>
  <input class="button-primary" type="submit" value="SIGNUP">
</form>

<script src="/js/login.js"></script>