<div class="row">

    <form id="login-form" class="eight columns outlined ">
          <div>
            <label for="login-email">Email</label>
            <input id="login-email"  type="email" placeholder="your@email.com">
          </div>

          <div class="">
            <label for="login-password">Password</label>
            <input id="login-password"  type="password">
          </div>

          <div>
          <button id="login-input" class="button-primary" type="submit" value="LOGIN">LOGIN</button>
          </div>
          <a class="instead">SignUp instead</a>
    </form>

    <form id="signup-form" class="eight columns outlined hidden ">
        <div class="">
          <label for="signup-user">Choose a Username</label>
          <input id="signup-user" type="text">
        </div>

        <div class="">
          <label for="signup-github">Your Github Username</label>
          <input id="signup-github" type="text">
        </div>

        <div class="">
          <label for="signup-email">Email</label>
          <input id="signup-email" type="email" placeholder="your@email.com">
        </div>

        <div class="">
          <label for="signup-password">Password</label>
          <input id="signup-password" type="password">
        </div>

        <div>
        <input class="button-primary" type="submit" value="SIGNUP">
        </div>
    </form>

</div>

<script src="/js/login.js"></script>