<div class="row">
<div id="login-form-container" class="six columns outlined">
    <form id="login-form" >
          <div class="block">
            <label for="login-email">Email</label>
            <input id="login-email"  type="email" placeholder="your@email.com">
          </div>

          <div class="block">
            <label for="login-password">Password</label>
            <input id="login-password"  type="password">
          </div>

          <div class="block">
          <button id="login-input" class="button-primary" type="submit" value="LOGIN">LOGIN</button>
          </div>
          {{!-- <a class="instead">SignUp instead</a> --}}
    </form>

</div>
<div id="signup-form-container" class="six columns outlined ">

    <form id="signup-form">
        <div class="block">
          <label for="signup-user">Choose a Username</label>
          <input id="signup-user" type="text">
        </div>

        <div class="block">
          <label for="signup-github">Your Github Username</label>
          <input id="signup-github" type="text">
        </div>

        <div class="block">
          <label for="signup-email">Email</label>
          <input id="signup-email" type="email" placeholder="your@email.com">
        </div>

        <div class="block">
          <label for="signup-password">Password</label>
          <input id="signup-password" type="password">
        </div>

        <div>
        <input class="button-primary" type="submit" value="SIGNUP">
        </div>
    </form>

</div>
</div>

<script src="/js/login.js"></script>