<div class="row">
<div id="signup-form-container" class="outlined ">

    <form id="post-form">
        <div class="block">
          <label for="post-title">Article Title</label>
          <input id="post-title" class="u-full-width" type="text">
        </div>

        <div>
          <label for="post-content">Content</label>
          <textarea id="post-content" class="u-full-width"></textarea>
        </div>

        <div>
          <button id="post-btn" type="submit">POST</button>
        </div>
    </form>

</div>
</div>

<script src="/js/post-article.js"></script>